{%extends 'base.html'%}
{%block content%}
<div class="container col trial">
  <br />
  <h1 class="head">Dashboard</h1>
  <form method="POST" class="col-sm-7">
    <h1 class="head">Enter data</h1>
    <br><br>
    <div style="padding: 35px;">
      {{form.hidden_tag()}}
      <div class="group">
        <small class="text-danger"></small>
        {{form.name}}
        <span class="highlight"></span><span class="bar"></span>
        <label>Name</label>
        <small class="text-danger">{{error}}</small>
      </div>
      <div class="group">
        {{form.age}}
        <span class="highlight"></span><span class="bar"></span>
        <label>Age</label>
      </div>
      <div class="group">
        {{form.weight}}
        <span class="highlight"></span><span class="bar"></span>
        <label>Weight in kg</label>
      </div>
      <div class="group">
        {{form.urine}}
        <span class="highlight"></span><span class="bar"></span>
        <label>Urine in Liters</label>
      </div>
      <div class="form-group" style="margin-top: 3%">
        {{form.submit(class ="btn btn-primary change")}}
      </div>
    </div>
  </form>
</div>
<br>
<br>
<div class="table-responsive ">
  <table class="table  table-borderless">
    <thead>
      <tr>
        <th scope="col">Name</th>
        <th scope="col">Age</th>
        <th scope="col">Weight</th>
        <th scope="col">Urine</th>
        <th scope="col">Electricity</th>
      </tr>
    </thead>
    <tbody>
      {% for c in cow %}

      <tr>
        <th>{{c.name}}</th>
        <td>{{c.age}}</td>
        <td>{{c.weight}}</td>
        <td>{{c.urine}}L (given)</td>
        <td>{{c.urine * 13.4}}V</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>



{%endblock%}