<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>Dashboard</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css">
  <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/tailwindcss/1.7.6/tailwind.min.css'>
  <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='styles/style.css')}}">
</head>

<body class="min-h-screen bg-background-primary ">
  <div id="app">
    <aside class="fixed h-screen inline-flex flex-col justify-between items-center bg-sidebar-primary shadow p-6 ">
      <nav class=" inline-flex flex-col space-y-2 ">
        <a :href="link.href" v-for="(link, index) in nav"
          class="flex items-center text-background-textprime py-2 cursor-pointer" :class="[
          [selected == index ? 'bg-sidebar-ternary text-sidebar-text ' : 'hover:bg-sidebar-secondary'],
          [ isEnlarge ? 'pl-2 pr-6 rounded-lg' : 'px-2 rounded-full' ]
          ]" @click="selected = index">
          <span v-html="selected == index ? link.selectedIcon : link.icon" class="w-8 h-8 p-1 font-medium"
            :class="{ 'mr-2' : isEnlarge }"></span>
          <span v-html="link.text" class="font-medium select-none" v-if="isEnlarge"></span>
        </a>
      </nav>
      <a href="#">
        <div class="flex items-center w-full bg-sidebar-secondary p-4 rounded-full" v-if="isEnlarge">
          <img :src="user.avatar" :alt="user.name"
            class="w-10 h-10 object-cover rounded-full mr-4 border border-solid border-white">
          <div>
            <h3 class="text-background-textprime font-semibold" v-html="user.name"></h3>
            <h4 class="text-sm text-background-textprime mt-1" v-html="user.role"></h4>
          </div>
        </div>
        <img :src="user.avatar" :alt="user.name" class="w-10 h-10 object-cover rounded-full" v-else>
        <button
          class="absolute right-0 bottom-0 top-0 my-auto transform translate-x-full h-10 w-10 p-1 bg-white text-gray-600 rounded-r-lg mx-auto border border-solid border-gray-200 hover:border-gray-300 sm:hidden"
          @click="isEnlarge = !isEnlarge">
      </a>
      <span v-html="isEnlarge ? enlarge.decrease : enlarge.enlarge"></span>
      </button>
    </aside>

  </div>
  <script src='https://cdnjs.cloudflare.com/ajax/libs/vue/2.6.10/vue.min.js'></script>
  <script src="{{url_for('static', filename='js/script.js')}}"></script>

</body>

</html>