{%extends 'base.htm'%}
{%block content%}
<div class="container">
  <script src="https://cdn.jsdelivr.net/gh/alpinejs/alpine@v2.x.x/dist/alpine.min.js" defer></script>
  <div class="md:flex flex-col md:flex-row w-full ">
    <div @click.away="open = false"
      class="flex flex-col w-full md:w-64 text-gray-700 bg-transparent md:fixed dark-mode:text-gray-200 dark-mode:bg-gray-800 flex-shrink-0"
      x-data="{ open: false }">
      <div class="flex-shrink-0 px-8 py-4 flex flex-row items-center justify-between">
        <a href="{{url_for('querygen')}}"
          class="text-lg font-semibold tracking-widest text-gray-800 uppercase rounded-lg dark-mode:text-white focus:outline-none focus:shadow-outline hover:text-teal-500">Queries</a>
        <button class="rounded-lg md:hidden  focus:outline-none focus:shadow-outline" @click="open = !open">
          <svg fill="currentColor" viewBox="0 0 20 20" class="w-6 h-6">
            <path x-show="!open" fill-rule="evenodd"
              d="M3 5a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zM3 10a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zM9 15a1 1 0 011-1h6a1 1 0 110 2h-6a1 1 0 01-1-1z"
              clip-rule="evenodd"></path>
            <path x-show="open" fill-rule="evenodd"
              d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z"
              clip-rule="evenodd"></path>
          </svg>
        </button>
      </div>
      <nav :class="{'block': open, 'hidden': !open}" class="flex-grow md:block px-4 pb-4 md:pb-0 md:overflow-y-auto">
        <a class="block md:block px-3 py-3 no-underline text-grey-200 hover:text-teal-500 "
          href="{{url_for('create_table')}}">Create Table</a>
        <a class="block md:block px-3 py-3 no-underline text-grey-200 hover:text-teal-500 "
          href="{{url_for('dashboard')}}">Select</a>
        <a class="block md:block px-3 py-3 no-underline text-grey-200 hover:text-teal-500 "
          href="{{url_for('update_query')}}">Update</a>
        <a class="block md:block px-3 py-3 no-underline text-grey-200 hover:text-teal-500 "
          href="{{url_for('create_where')}}">Filters</a>

      </nav>
    </div>
  </div>
  <div class="row justify-content-center ">
    <form method="POST"
      class="md:w-2/4 w-3/4 rounded-lg overflow-hidden shadow-lg  p-6 bg-gray-200 md:relative md:mt-0 mt-10 ">
      <h1 class=" text-4xl sm:text-5xl font-extrabold text-medium py-2">Select Query</h1>
      <br>
      {{form.hidden_tag()}}
      <div class="my-4">
        <div class="w-2/3">
          <label class="block text-gray-500 font-bold text-left mb-1 md:mb-0 pr-2 tracking-wide">
            Table name
          </label>
        </div>
        <div>
          <small class="text-danger"></small>
          {{form.table_name(class="bg-gray-400 appearance-none font-medium border-2 border-gray-200 rounded w-full py-2 px-4 text-gray-700
           leading-tight focus:outline-none focus:bg-white focus:border-teal-500", required= true)}}
        </div>

        <form method="POST" action="/dashboard">
          {% for data in data_lines %}
          <br>
          <span class=" text-gray-700 font-semibold text-left mb-1 md:mb-0 tracking-wide">
            {{data[0]}}
          </span>
          <span class=" text-gray-700 font-semibold text-left mb-1 md:mb-0 pr-2 tracking-wide">
            {{data[1]}}
          </span><input type="checkbox" class="mr-2 leading-tight  h-5 w-5 " name="column_name" value="{{data}}">

          <br>

          {% endfor %}
          <br>

          <input type="submit"
            class=" bg-teal-500 appearance-none outline-none hover:bg-teal-400 my-4 focus:shadow-outline focus:outline-none text-white  py-2 px-4 mr-4 rounded">
          <a href="{{url_for('upload_file')}}">Upload a new csv</a>

          {% with messages = get_flashed_messages() %}
          {% if messages %}
          <div
            class="alert alert-success select-all bg-teal-500 bg-opacity-50 text-center py-4 lg:px-4  text-white alert-dismissible fade show"
            role="alert">
            <p>{{messages.pop()}}</p><span class="text-xs select-none">This is your generated query
              (press
              anywhere near to
              select)</span>
            <button type="button" class="close select-none" data-dismiss="alert" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>



          {% endif %}
          {% endwith %}
        </form>
      </div>
    </form>
  </div>
</div>
{%endblock%}