{%extends 'dashboard.htm'%}
{%block content%}

<div class="task">


  <div class="container font-medium mx-auto  p-6 xl:px-64 lg:px-32 md:px-24 sm:px-40 block">
    <div class="justify-center flex-wrap w-full flex  md:pl-3 md:pr-0 pt-8 pb-0 md:pb-6 px-2 ">
      <!-- <a href="{{url_for('maketask' , projectid = projectid)}}"
        class="max-w-sm rounded-lg overflow-hidden shadow max-h-full m-2 ">
        <div class="px-3 py-6 text-center">
          <div class="font-bold text-5xl  text-gray-700 ">Add task</div>
        </div>
      </a> -->
      <a href="{{url_for('tasks' , projectid = projectid)}}"
        class="m-3 fixed bottom-0 right-0  flex items-center justify-center h-12 w-12 rounded-full bg-teal-500 text-white">
        <svg class="h-6 w-6" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12" />
        </svg>
      </a>
      {%for p in tasks%}


      <div class="max-w-sm rounded-lg overflow-y-scroll shadow max-h-full m-2 pb-6  container-fluid">

        <div class="px-6 pt-4 row-auto flex-wrap">

          <div class=" font-bold text-xl mb-2 pr-4 text-gray-700">
            <div>
            </div>
            <h6>{{p.name}}</h6>
          </div>
          <br>
          <p class="text-gray-600 text-base ">{{p.description}}</p>
          <br>
          </a>

          <div>
            {%if p.completed == na or p.completed == nas%}
            <a href="{{url_for('change' , to = 'Maybe' , task_id = p.id)}}" class=" hover:text-teal-600">Status
              : Not started</a>
            {%elif p.completed == 'Maybe'%}
            <a href="{{url_for('change' , to = 'Yes' , task_id = p.id)}}" class=" hover:text-teal-600">
              Status : In progress </a>
            {%else%}
            <a href="{{url_for('change' , to = 'No' , task_id = p.id)}}" class="hover:text-teal-600">
              Status : Completed</a>


            {%endif%}

          </div>

          <div class="pt-3">
            <a href="{{url_for('update' , task_id = p.id)}}" class=" mb-3 mt-2 top-0 right-0 inline-flex items-center
            justify-center h-10 w-10 rounded-full bg-green-500 text-white ">
              <!-- <svg xmlns=" http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12" />
              </svg> -->
              <svg xmlns="http://www.w3.org/2000/svg" class=" h-5 w-5" fill="none" viewBox="0 0 24 24"
                stroke="currentColor">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                  d="M15.232 5.232l3.536 3.536m-2.036-5.036a2.5 2.5 0 113.536 3.536L6.5 21.036H3v-3.572L16.732 3.732z" />
              </svg>
            </a>
            <button class="mb-3 mx-3 mt-2  inline-flex  items-center justify-center h-10 w-10 rounded-full bg-red-500
            text-white " data-toggle='modal' data-target="#del">
              <svg class="h-5 w-5" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
                stroke="currentColor">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12" />
              </svg>
            </button>
          </div>
          <div class="modal " tabindex="-1" role="dialog" id="del">
            <div class="modal-dialog bg-red-100 border border-red-400 text-red-700 px-4 py-3 rounded relative"
              role="document">
              <div class="modal-content bg-transparent border-none">
                <div class="modal-header border-none">
                  <h5 class="modal-title">Delete task!!!</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body ">
                  <p>This process is irrevesible</p>
                </div>
                <div class="modal-footer border-none">
                  <a class="btn bg-red-500 appearance-none outline-none hover:bg-red-400  focus:shadow-outline focus:outline-none text-white  mr-auto rounded"
                    href="{{url_for('del_task' , task_id = p.id , projectid = projectid)}}">
                    Delete</a>
                </div>
              </div>
            </div>
          </div>

        </div>

      </div>

      {%endfor%}
    </div>
  </div>


  {%endblock%}