{% extends "base.htm" %} {% block content %}
<div class="text-common-text">
    <div class=" container mx-auto ">
        <div class="flex justify-center">
            <div class="justify-self-center page items-center ">
                <h1 class="font-black text-gray-800">Genie</h1>
                <br>
                <p class="text-gray-500">Your wish is our command</p>

            </div>

        </div>
    </div>
    <div class="container">
        <a id="abt"></a>
        <h1 class="hding text-gray-800 ">About the app</h1>
        <div class="row justify-content-end">
            <div class="col-sm-7" style=" padding-top:10px;">

                <p class="mt-2 text-lg text-gray-500 leading-8">Database management is a strenuous endeavor. One
                    has to tackle a labyrinth information and maintain an intricate paradigm. We can continue with
                    the list of overly complicated things, but that would be the one thing which we, at Genie,
                    detest: unwanted complexity. With our exceptional program, we are able to provide developers the
                    required SQL query, in just a few clicks! Incredibly useful right? But there’s even more to our
                    app. We unanimously believe that time management is just as important. Therefore, we allow our
                    users to create schedules and manage tasks, all in one place. Our app is definitely going to
                    help you become and efficient developer. And an efficient developer is a good developer!
                </p>
            </div>
            <div class="col-sm-5">
                <!-- <img src=" {{ url_for('static', filename='logo1.png') }}" alt="Genie" style="height: 50vh;"
                    class="img-fluid  ml-auto"> -->
                <h1 class=" text-gray-800 text-6xl font-extrabold p-24">Genie</h1>
            </div>
        </div>

    </div>
    <div class=" container ">
        <div class=" row justify-content-end ">
            <div class=" col">
                <h1 id="feat" class="hding text-gray-800 py-3 ">Features</h1>
            </div>
        </div>
        <div class="container ">
            <div class="py-12" style="border-radius:40px;">
                <div class="max-w-screen-xl mx-auto px-4 sm:px-6 lg:px-8 ">
                    <div class="lg:text-center">
                        <h3
                            class="mt-2 text-3xl leading-8 font-extrabold tracking-tight text-gray-700 sm:text-4xl sm:leading-10">
                            A better way to code SQL
                        </h3>
                    </div>

                    <div class="mt-10">
                        <ul class="md:grid md:grid-cols-2 md:gap-x-8 md:gap-y-10">
                            <li>
                                <div class="flex">
                                    <div class="flex-shrink-0">
                                        <div
                                            class="flex items-center justify-center h-12 w-12 rounded-md bg-teal-500 text-white">
                                            <!-- Heroicon name: globe-alt -->
                                            <svg class="h-6 w-6" xmlns="http://www.w3.org/2000/svg" fill="none"
                                                viewBox="0 0 24 24" stroke="currentColor">
                                                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                                    d="M21 12a9 9 0 01-9 9m9-9a9 9 0 00-9-9m9 9H3m9 9a9 9 0 01-9-9m9 9c1.657 0 3-4.03 3-9s-1.343-9-3-9m0 18c-1.657 0-3-4.03-3-9s1.343-9 3-9m-9 9a9 9 0 019-9" />
                                            </svg>
                                        </div>
                                    </div>
                                    <div class="ml-4">
                                        <h4 class="text-lg leading-6 font-medium text-gray-900">Beginner Friendly
                                        </h4>
                                        <p class="mt-2 text-base leading-6 text-gray-500">
                                            Highly accessible and can be used by anyone
                                        </p>
                                    </div>
                                </div>
                            </li>
                            <li class="mt-10 md:mt-0">
                                <div class="flex">
                                    <div class="flex-shrink-0">
                                        <div
                                            class="flex items-center justify-center h-12 w-12 rounded-md bg-teal-500 text-white">

                                            <svg class="h-6 w-6" xmlns="http://www.w3.org/2000/svg" fill="none"
                                                viewBox="0 0 24 24" stroke="currentColor">
                                                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                                    d="M8 9l3 3-3 3m5 0h3M5 20h14a2 2 0 002-2V6a2 2 0 00-2-2H5a2 2 0 00-2 2v12a2 2 0 002 2z" />
                                            </svg>
                                        </div>
                                    </div>
                                    <div class="ml-4">
                                        <h4 class="text-lg leading-6 font-medium text-gray-900">Open source software
                                        </h4>
                                        <p class="mt-2 text-base leading-6 text-gray-500">
                                            Open source to accommodate changes and personalisation required by different
                                            users
                                        </p>
                                    </div>
                                </div>
                            </li>
                            <li class="mt-10 md:mt-0">
                                <div class="flex">
                                    <div class="flex-shrink-0">
                                        <div
                                            class="flex items-center justify-center h-12 w-12 rounded-md bg-teal-500 text-white">
                                            <!-- Heroicon name: lightning-bolt -->
                                            <svg class="h-6 w-6" xmlns="http://www.w3.org/2000/svg" fill="none"
                                                viewBox="0 0 24 24" stroke="currentColor">
                                                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                                    d="M13 10V3L4 14h7v7l9-11h-7z" />
                                            </svg>
                                        </div>
                                    </div>
                                    <div class="ml-4">
                                        <h4 class="text-lg leading-6 font-medium text-gray-900">Efficient
                                        </h4>
                                        <p class="mt-2 text-base leading-6 text-gray-500">
                                            Generates code in a fraction of a second
                                        </p>
                                    </div>
                                </div>
                            </li>
                            <li class="mt-10 md:mt-0">
                                <div class="flex">
                                    <div class="flex-shrink-0">
                                        <div
                                            class="flex items-center justify-center h-12 w-12 rounded-md bg-teal-500 text-white">
                                            <!-- Heroicon name: annotation -->
                                            <svg class="h-6 w-6" xmlns="http://www.w3.org/2000/svg" fill="none"
                                                viewBox="0 0 24 24" stroke="currentColor">
                                                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                                    d="M7 8h10M7 12h4m1 8l-4-4H5a2 2 0 01-2-2V6a2 2 0 012-2h14a2 2 0 012 2v8a2 2 0 01-2 2h-3l-4 4z" />
                                            </svg>
                                        </div>
                                    </div>
                                    <div class="ml-4">
                                        <h4 class="text-lg leading-6 font-medium text-gray-900">Seamless Navigation
                                        </h4>
                                        <p class="mt-2 text-base leading-6 text-gray-500">
                                            No clutter in the interface
                                        </p>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}