{%extends 'base.htm'%}

{%block content%}
<center>
  <div>
    <div>

      <form method="POST" class="max-w-md rounded overflow-hidden shadow-lg p-10 bg-gray-200">
        <h1 class="head px-10">Make Project </h1><br><br>
        {{form.hidden_tag()}}
        <div class="group">
          <small class='text-danger'></small>
          {{form.name}} <span class="highlight"></span><span class="bar"></span>
          <label>Project Name</label><small id="emailHelp" class="form-text text-muted">Enter a Good
            name.</small>
          {%if form.name.errors%}
          {%for error in form.name.errors%}
          <small class='text-danger'>{{error}}</small>
          {%endfor%}
          {%endif%}
        </div><br>
        <div class="group">
          {{form.description}}
          <span class="highlight"></span><span class="bar"></span>
          <label>Describe your project</label>
        </div>
        {%if form.description.errors%}
        {%for error in form.description.errors%}
        <small class='text-danger'>{{error}}</small>
        {%endfor%}
        {%endif%}

        <div class="group">
          {{form.submit(class ="btn btn-primary text-gray-100")}}
        </div>
      </form>
    </div>
</center>
{%endblock%}