{%extends 'base.htm'%}

{%block content%}
<center>

    <form method="POST" class="max-w-md rounded overflow-hidden shadow-lg p-10 bg-gray-200">
        <h1 class="head p-10">Make Task </h1>
        {{form.hidden_tag()}}
        <div class="group">
            <small class='text-danger'></small>
            {{form.name}} <span class="highlight"></span><span class="bar"></span>
            <label>Task name</label>
            <small id="emailHelp" class="form-text text-muted">Enter a Good name.</small>
            {%if form.name.errors%}
            {%for error in form.name.errors%}
            <small class='text-danger'>{{error}}</small>
            {%endfor%}
            {%endif%}
        </div><br>
        <div class="group">
            {{form.description}}
            <span class="highlight"></span><span class="bar"></span>
            <label>Describe your task</label>
        </div>
        {%if form.description.errors%}
        {%for error in form.description.errors%}
        <small class='text-danger'>{{error}}</small>
        {%endfor%}
        {%endif%}

        <div class="form-group">
            {{form.submit(class ="btn btn-primary submit")}}
        </div>
    </form>
    </div>
</center>
{%endblock%}