{%extends 'base.htm'%}
{%block content%}

<div class="cover" style="justify-content: center !important; align-items: center !important;">
  <div class="allprojects">
  <div class="proj addition">
  <a href="{{url_for('makeproject')}}">Add Project</a></div>
  {%for p in projects%}
  <div class="proj used" style="background-color: white;">
    <img src="{{url_for('static', filename="notes.png")}}" style="width: 16vw;" alt="can't load">
    <a style="padding:0.5em;" href="{{url_for('tasks' , projectid = p.id)}}">{{p.name}} - {{p.description}}</a>
  </div>
  {%endfor%}
  </div>
  </div>
{%endblock%}
