{%extends 'base.htm'%}
{%block content%}

<div class="container flex flex-wrap w-full font-medium mx-auto row-auto p-6 xl:px-64 lg:px-32 md:px-24 sm:px-40 ">
  <a href="{{url_for('edit_project')}}"
    class="m-3 fixed bottom-0 right-0  flex items-center justify-center h-12 w-12 rounded-full bg-teal-500 text-white">
    <svg class="h-6 w-6" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
      <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
        d="M11 5H6a2 2 0 00-2 2v11a2 2 0 002 2h11a2 2 0 002-2v-5m-1.414-9.414a2 2 0 112.828 2.828L11.828 15H9v-2.828l8.586-8.586z" />
    </svg>
  </a>
  <div class="justify-center flex-wrap flex  w-full md:pl-3 md:pr-0 pt-8 pb-0 md:pb-6 px-2 ">
    <a href="{{url_for('makeproject')}}"
      class="relative  h-auto w-full border-8 max-w-full rounded-xl overflow-hidden shadow max-h-full m-2 ">
      <div class="m-8 text-center">
        <div class="font-bold text-5xl  text-gray-700 ">Add Project</div>
      </div>
    </a>
    {%for p in projects%}
    <a class="relative  h-auto border-8  max-w-sm rounded-xl shadow overflow-x-scroll m-2"
      href="{{url_for('tasks' , projectid = p.id)}}">
      <div class="p-6 flex-wrap">
        <div class=" font-bold text-xl mb-2 pr-4 text-gray-700">{{p.name}}
          <br><br>
          <p class="text-gray-600 text-base flex-wrap">{{p.description}}</p>
        </div>
      </div>
    </a>
    {%endfor%}
  </div>
</div>

{%endblock%}