{%extends 'base.htm'%} {%block content%}

<div class="container">
  <div class="row justify-content-center ">
    <form method=post enctype=multipart/form-data
      class="md:w-2/4 w-3/4rounded-lg overflow-hidden shadow-lg p-10 bg-gray-200 ">
      <h1 class="text-5xl font-extrabold text-medium py-2">Upload a new CSV</h1>
      <div class="fileUpload width100 bg-gray-400 appearance-none font-medium border-2 border-gray-200 rounded w-full p-2 text-gray-700
  leading-tight text-left uploadlogo focus:outline-none focus:bg-white focus:border-teal-500 mt-4">
        <span>Nothing uploaded</span>
        <input type=file name=file class="uploadlogo" required>
      </div>

      <input type=submit value=Upload
        class=" bg-teal-500 appearance-none outline-none hover:bg-teal-400 my-4 focus:shadow-outline focus:outline-none text-white  py-2 px-4 rounded">
    </form>
  </div>
</div>
{%endblock%}