@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;700;800&display=swap');
html{
  min-height:100vh;
}
body {
  font-family: 'Montserrat', sans-serif;
  margin: 0;
  padding:0 140px;
  color :#636363;
}

a{
  text-decoration: none !important;
}
.overflow-x-scroll::-webkit-scrollbar {
  height: 4px;
  /* width: 4px; */
  opacity:0;
  margin:5px;
  width: 4px;
  height: 5px;
} 
.overflow-x-scroll::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 2px rgba(0,0,0,0); 
  
} 
.overflow-x-scroll::-webkit-scrollbar-thumb {
  background: rgba(97, 111, 136, 0.2);
  border-radius: 10px;
}


.page {
  height: 100vh;
  position: relative;
}

.page h1  {
  position: relative;
  font-size:6em;
  padding-top:30vh;
  justify-content: center;
  align-content: center;
  text-align: center;
}
.page p {
  position: relative;
  font-size:1.5em;
  justify-content: center;
  align-content: center;
  text-align: center;
}

.container{
  padding-bottom: 15px;
 }

 #context-menu {
  position:fixed;
  z-index:10000;
  width:150px;
  background:#1b1a1a;
  border-radius:5px;
  transform:scale(0);
  transform-origin:top left;
}
#context-menu.active {
  transform:scale(1);
  transition:transform 300ms ease-in-out;
}
#context-menu .item {
  padding:8px 10px;
  font-size:15px;
  color:#eee;
}
#context-menu .item:hover {
  background:#555;
}
#context-menu .item i {
  display:inline-block;
  margin-right:5px;
}
#context-menu hr {
  margin:2px 0px;
  border-color:#555;
}

.hding{
  font-size:4em;
  font-weight: 800;
}

/* h1 { color: #4b4a4a; } */


.fileUpload {
  position: relative;
  overflow: hidden;
  height: 43px;
  margin-top: 0;
}

.fileUpload input.uploadlogo {
  position: absolute;
  top: 0;
  right: 0;
  margin: 0;
  padding: 0;
  font-size: 20px;
  cursor: pointer;
  opacity: 0;
  filter: alpha(opacity=0);
  width: 100%;
  height: 42px;
}

input::-webkit-file-upload-button {
  cursor: pointer !important;
  height: 42px;
  width: 100%;
}
@media screen and (max-width: 1100px) {
  body{
  		padding:0px 150px;
	}
}

@media screen and (max-width: 1000px) {
  body{
  		padding:0 90px;
  }
  .hell{
    top: 20vh;
  }
}
@media screen and (max-width: 780px) {
  body{
  		padding:0 60px;
  }
}


@media screen and (max-width: 600px) {
  body{
  		padding:0 40px;
  }
}

@media screen and (max-width: 430px) {
  body{
  		padding:0 20px;
  }
  
}
@media screen and (max-width: 380px) {
  body{
  		padding:0;
	}
}

@media (max-width: 767px) {
  .navicon {
    width: 1.125em;
    height: .125em;
  }

  .navicon::before,
  .navicon::after {
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    transition: all .2s ease-out;
    content: '';
    background: #3D4852;
  }

  .navicon::before {
    top: 5px;
  }

  .navicon::after {
    top: -5px;
  }

  .menu-btn:not(:checked) ~ .menu {
    display: none;
  }

  .menu-btn:checked ~ .menu {
    display: block;
  }

  .menu-btn:checked ~ .menu-icon .navicon {
    background: transparent;
  }

  .menu-btn:checked ~ .menu-icon .navicon::before {
    transform: rotate(-45deg);
  }

  .menu-btn:checked ~ .menu-icon .navicon::after {
    transform: rotate(45deg);
  }

  .menu-btn:checked ~ .menu-icon .navicon::before,
  .menu-btn:checked ~ .menu-icon .navicon::after {
    top: 0;
  }
}
